* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.7;
    color: #777;
    padding: 20px;
}

.nav_style {
    background-color: #2C4152;
    color: white;
    font-weight: 800;
}

.nav_style a {
    color: white;
    font-weight: 800;
}

nav a:hover {
    background-color:rgba(12, 186, 186, 0.5);
    color: white;
}

.nav_style a:hover {
    color: white;
}


.header {
    /* display: flex;
    flex-wrap: wrap; */
    /* I learned to do the backgrand gradient over the image from 
    Advanced CSS and Sass: Flexbox, Grid, Annimation and More! - by Jonas Schmedtmann at https://www.udemy.com/ */
    /* height: 65vh; */
    background-image: linear-gradient(
        to right bottom,
        rgba(12, 186, 186, 0.5), 
        rgba(56, 0, 54, 0.5)),
        url(../img/code.jpg);
    background-size: cover;
    background-position: top;
    /* clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%); */
   /* Defines how to distribute the empty space between child elements */
   color: #fff;
   padding: 40px;
}

.header_img img {
    width: 80%;
    border-radius: 100%;
}

.centered {
    text-align:center;
}

.header_text {
    align-items: center;
    justify-content: center;
}


hr {
    width: 100%;
    border: 2px solid white
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
}


footer, .about_me {
    background-color: #2C4152;
    color: #fff;
    padding: 10px;
}

.my_work {
    padding-top: 20px;
}

.contact_me {
    padding-top: 30px;
}

.contact_me_text {
    background-color: #2C4152;
    color: #fff;
    padding: 10px;
}



/* @media screen and (max-width: 872) {
    .header_text {
        justify-content: flex-start;
    }
    .header_text h1 {
      font-size: 1.4em;
    }
    .header_text h2 {
        font-size: 1.2em;
    }

    nav a {
        width: 100%;
    }
  }

  @media screen and (max-width: 568px) {
    .header_text {
        justify-content: flex-start;
    }
    .header_text h1 {
      font-size: 1.2em;
    }
    .header_text h2 {
        font-size: 1.1em;
    }

    nav a {
        width: 100%;
    }
  } */