* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    padding: 20px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    /* I learned to do the backgrand gradient over the image from 
    Advanced CSS and Sass: Flexbox, Grid, Annimation and More! - by Jonas Schmedtmann at https://www.udemy.com/ */
    height: 30vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(12, 186, 186, 0.5), 
        rgba(56, 0, 54, 0.5)),
        url(../img/code.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 25vh, 0 100%);
   /* Defines how to distribute the empty space between child elements */
   color: #fff;
   padding: 20px;
  
}

.header_img {
    text-align: center;
    align-items: center;
}

.header_img img {
    width: 100%;
    border-radius: 820%;
    padding-bottom: 0;
}

.head_text {
    display: flex;
    margin: 0 auto; 
}

.text_box {
    justify-content: center;
  }

.text_box h1 {
    font-size: 4em;
    text-transform: uppercase;
    padding-top: 0;
}

.text_box h2 {
    font-size: 3em;
}

hr {
    display: flex;
    justify-content: center;
    
}

@media screen and (max-width: 576px) {
    .text_box h1 {
      font-size: 1.4em;
    }
    .text_box h2 {
        font-size: 1.2em;
    }

    .header {
        height: 60vh;
        clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%);
    }
  }